.header {
  padding: 44px 60px;
  border-bottom: 1px solid #eaeaea;
  @media screen and (max-width: 1024px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: column;
  }
}

.item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.price {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.logo {
  @media screen and (max-width: 767px) {
    max-width: 150px;
    margin-bottom: 10px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  opacity: 0.6;
  transition: opacity 0.2s;

  @media (any-hover: hover) {
    &:hover {
      opacity: 1;
    }
  }
}
